.code{
 background:url(http://img01.jituwang.com/161213/257214-161213092S962.jpg);
 background-size:cover;
 color:rgba(0,0,0,0.8);
 cursor:pointer;
 font-size:18px;
 letter-spacing:5px;
 width:190px;
 height:29px;
 line-height:29px;
 text-align:center;
  font-weight:bold;
}